<!--<div class="alert alert-success" role="alert" style="margin-top: 30px;">
  Example 1 of a master detail layout.
</div>
<app-person-layout-example1></app-person-layout-example1>

<div class="alert alert-success" role="alert" style="margin-top: 30px;">
  Example 2 of a master detail layout.
</div>

<app-person-layout-example2></app-person-layout-example2>
-->
<div class="alert alert-success" role="alert" style="margin-top: 30px;">
  Example 3 of a master detail layout.
</div>

<app-person-layout-example3></app-person-layout-example3>