<div class="container-fluid" style="margin: 5px;">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Layout 1 - No real layout.</h4>
          <p class="card-text">This example is kept as simple as possible to demonstrate what the client needs to implement to get going.</p>
          <layout1></layout1>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Layout 2 - Demos some layout control.</h4>
          <p class="card-text">This example shows how you can control the layout on the items in the master detail component</p>
          <layout2></layout2>
        </div>
      </div>
    </div>
  </div>
</div>